canvas {
    position: absolute;
    top: 0px;
    left: 0px;
}

#overlay {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}

#edit-button {
    position: absolute;
    left: 340px;
    top: 395px;
    padding: 10x 30px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #ffc107;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#edit-button:hover {
    background-color: #ff9800;
}

#edit-button:active {
    background-color: #ff5722;
}

#edit-container {
    position: absolute;
    left: 500px;
    top: 30%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    padding: 40px;
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    z-index: 1;
}

#edit-container.visible {
    display: block;
}

#start-button {
    position: absolute;
    left: 750px;
    top: 20px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #29afe9;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#start-button:hover {
    background-color: #1c769d;

}

#icecreamselection {
   left: 170;
top: 230;
        width: 500;
        height: 200;
}

#assign-button {
    position: absolute;
    left: 1080px;
    top: 170px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #91267c;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
 }

 #assign-button:hover {
    background-color: #72c657;
 }

#vieworderbutton {
    position: absolute;
    background-color: #FF6384; 
    color: #FFFFFF;
    border: none;
    padding: 10px 20px; 
    font-size: 16px; 
    border-radius: 5px; 
    cursor: pointer;
  }
  
  #vieworderbutton:hover {
    background-color: #FF478A;
  }
  
  #fulfillorder-container {
    position: absolute;
    left: 30%;
    top: 30%;
    width: 500px;
    height: 300px;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    padding: 40px;
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: absolute;
    z-index: 1; 
}

#fulfillorder-container.visible {
    display: block;
}

.order-text {
    text-transform: uppercase;
   background-image: linear-gradient(
     -225deg,
     #231557 0%,
     #44107a 29%,
     #ff1361 67%,
     #fff800 100%
   );
   background-size: auto auto;
   background-clip: border-box;
   background-size: 200% auto;
   color: #fff;
   background-clip: text;
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: textclip 2s linear infinite;
   display: inline-block;
       font-size: 20px;
 }
 
 @keyframes textclip {
   to {
     background-position: 200% center;
   }
 }

 #newicecream {
    text-align: center;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 100px;
    height: 50px;
    
 }
  
  #waffle-canvas {
    position: absolute; /* Positionierung des Canvas */
    width: 500px;
    height: 500px;
    z-index: 1;
  }

  #chooseicecreambutton {
    position: relative;
    z-index: 2;

  }

  #completeorderbutton {
position: relative;
    z-index: 2;

  }
  
  #receipt-button {
    position: relative;
    background-color: #5f6b73; 
    color: #FFFFFF;
    border: none;
    padding: 10px 20px; 
    font-size: 16px; 
    border-radius: 5px; 
    cursor: pointer;
  }

  #receipt-button:hover {
    background-color: #454d52; 
  }